.client__title {
    margin-bottom: 50px;
}

.client__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border-color var(--timing-function);

    &:hover,
        &:focus {
            border-color: var(--accent-txt-cl);
        }
    
        &:hover .client__icon,
        &:focus .client__icon {
            fill: var(--accent-txt-cl);
        }
}

.client__icon {
    fill: var(--social-icon-cl-team);
    transition: fill var(--timing-function);
}

