.footer {
    background-color: var(--bg-cl-dark);
    padding-top: 60px;
    padding-bottom: 60px;


&__container {
    display: flex;
    align-items: baseline;

}

&__title {
    font-weight: 700;
    font-size: 14px;
    line-height: cal(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-withe-cl);

    margin-bottom: 20px;
}

}