.footer {
    background-color: var(--bg-cl-dark);
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;


&__container {

    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {

        align-items: baseline;
    }

   
}

.footer-social {
    margin-bottom: 60px;

    @media screen and (min-width:768px) {
        margin-left: 165px;
    }

        @media screen and (min-width:1200px) {
            margin-bottom: 0;
            margin-left: 70px;
        }
}

&__title {
    font-weight: 700;
    font-size: 14px;
    line-height: cal(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-withe-cl);

    margin-bottom: 20px;
}

@media screen and (min-width:1200px) {
    text-align: left;
}

}


