.header {
    border-bottom: 1px solid #ECECEC;

    &__container {
            display: flex;
            align-items: center;
            justify-content: center;
    
        }
}

.contact {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;

    &__link,
    &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--secondary-txt-cl);
    
    transition: color var(--timing-function);
    
    }

    &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    fill: var(--secondary-txt-cl);
    transition: fill var(--timing-function);
        
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-txt-cl);
    }
                
    &__link:hover &__icon,
    &__link:focus &__icon {
         fill: var(--accent-txt-cl);
    }
}





