.footer-subscrib {

    @media screen and (min-width:1200px) {
       margin-left: 93px;

    }

}

.footer-form {

    @media screen and (min-width:1200px) {
    display: flex;
   
    }

}


.footer-form__input {

    width: 100%;
    height: 50px;
    padding: 15px 16px;
    justify-content: center;

    @media screen and (min-width:768px) {
        width: 450px;
    }

    @media screen and (min-width:1200px) {
    width: 358px;
    height: 50px;
        
    }

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--bg-cl-dark);
    outline: transparent;
    color: #FFFFFF;



&:hover,
&:focus {
    border-color: var(--accent-txt-cl);
    cursor: pointer;
    transition: border-color var(--timing-function);
}

&:hover::placeholder,
&:focus::placeholder {
    color: var(--accent-txt-cl);
    transition: color var(--timing-function);
}

}





